.content__task {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 15%;
    padding-left: 3%;
    padding-bottom: 1%;
    border: 2px solid rgba(24, 21, 19, .5);
    border-radius: 7px;

}

.content__task {
    word-wrap: break-word;
}

#id_title {
    height: 1.3rem;
    border-radius: 5px;
}

#id_description {
    border-radius: 5px;
}

.form__button {
    height: 1.5rem;
    width: 5rem;
    border: 1px solid white;
    border-radius: 5px;
}

.form__button:hover {
    border-radius: 5px;
    background: rgba(24, 21, 19, .3);
}