.create-form-style {
    border: 2px solid;
    border-radius: 15px;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    margin-top: 5%;
}

.create-form-style input {
    border-radius: 2px;
    height: 20px;
}

.create-form-style textarea {
    border-radius: 2px;
    height: 20px;
}

