.content {
    background: linear-gradient(90deg, #f5af19, #f12711);
}

.content__tasks {
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
}


.title__list {
    position: relative;
    height: 10rem;
    /*line-height: 10rem;*/
}

.title__list h2 {
    position: absolute;
    left: 25%;
    bottom: 10%;

}

.create__tasks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 3rem;
}


/* Стили блока задач */
.tasks__list {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid;
    border-radius: 7px;
    min-width: 550px;
}


/* Отображение блока задач */
.task__info {
    grid-template-columns: 4fr .5fr .5fr;
    display: grid;
    height: 3rem;
    font-size: 2rem;
}

li {
    list-style-type: none;
}

.task__info a{
    display: block;
    height: 100%;
    width: 100%;
}

.task__info li{
    border: 1px solid black;
}


li.title__task a{
    padding-left: 10px;
}


.update__task,
.delete__task {
    text-align: center;
}

a {
    text-decoration: none;
}