.content {
    background-color: #83abeb;
}

.content__tasks {
    display: block;
}

.tasks-list {
    display: block;
    position: static;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.create-tasks {
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid;
}

.create-tasks a {
    display: block;
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    padding: 2%;
    width: 30%;
    text-align: center;
    margin-left: 60%;
    text-decoration: none;
    background-color: #ADFF2F;
    word-wrap: break-word;
}

.create-tasks a:hover {
    background-color: #ddd;
}

.title__list {
    text-align: center;
    height: auto;
    width: auto;
    padding: 5%;
}

ul.task__view {
    margin: 0;
    padding: 4px;
    padding-left: 10px;
    background-color: #B0C4DE;
    border-bottom: 1px solid;
   }

ul.task__view li{
    list-style-type: none;
    display: inline;
    cursor: pointer;
}

ul.task__view li a {
    position: relative;
    font-size: 20px;
    text-decoration: none;
}

ul:hover {
  background: #ddd;
}

ul.task__close {
    margin: 0;
    padding: 4px;
    padding-left: 10px;
    background-color: #808080;
    border-bottom: 1px solid;
   }

ul.task__close li{
    list-style-type: none;
    display: inline;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: line-through;
}

ul.task__close li a {
    position: relative;
    font-size: 20px;
    text-decoration: none;
}