* {
    margin: 0;
    padding: 0;
   }

/* Оформление фона страницы */
.content {
    background: linear-gradient(90deg, #f5af19, #f12711);
    height: 100vh;
    width: 100vw;
}

/* Стили основного блока с контентом */
.content__tasks {
    position: relative;
    background: linear-gradient(90deg, #f5af19, #f12711);
}

a {
    text-decoration: none;
    color: #2e2d2d;
}


