.navigation__bar {
    display: grid;
    grid-template-columns: 2fr 2fr 10fr;
    height: 4rem;
    text-align: center;
    background: #be5e22;
}

a.button__navigation {
    font-size: 1.5rem;
    word-wrap: break-word;
}

a.button__navigation:hover {
    background: orange;
    border: 3px solid rgba(24, 21, 19, .5);
    border-radius: 5px;
}