{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'todo/css/detail_info.css' %}">
{% endblock %}


{% block title %}
  Список задач
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <div class="content__tasks">
        <div class="detail__info">
            <ul class="task">
                <li class="title">{{ task.title }}</li>
                <li class="description">{{ task.description }}</li>
                <li class="status">
                    <p class="status__title">Статус: </p>
                    <p class="{% if task.status %}close{% else %}open{% endif %}">
                        {% if task.status %}&#9745;{% else %}&#9746;{% endif %}
                    </p>
                </li>
                <li class="date">Дата создания: | {{ task.time }} | {{ task.date }} |</li>
            </ul>
        </div>
    </div>
{% endblock %}