{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'todo/css/tasks_list.css' %}">
{% endblock %}

{% block script_add %}
{% endblock %}


{% block title %}
  Список задач
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
        <div class="content__tasks">
            <h2 class="title__list">Список задач</h2>
            <div class="tasks__list">
                <div class="create__tasks">
                    <div class="search__field"><input type="text"></div>
                    <a href="{% url 'create_task' %}">Создать задачу</a>
                </div>
                <div class="tasks">
                    {% for todo in todos %}
                        <ul class="task__info {% if todo.status is True %}close{% endif %}">
<!--                        <ul class="task__info {% if todo.status is False %}task__info{% else %}task__info__close{% endif %}">-->
                            <li><a href="detail_task/{{ todo.id }}" class="title__task">{{ todo.title }}</a></li>
                            <li><a href="update_task/{{ todo.id }}" class="update__task">&#9998;</a></li>
                            <li><a href="delete_task/{{ todo.id }}" class="delete__task">&#10008;</a></li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}