{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'todo/css/todo_list.css' %}">
{% endblock %}


{% block title %}
  Список задач
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <h2 class="title__list">Список задач</h2>
    <div class="tasks-list">
        <div class="create-tasks"><a href="{% url 'create_task' %}">Создать задачу</a></div>
        {% for todo in todos %}
                <ul class="task__view">
                    <li><a href="detail_task/{{ todo.id }}">{{ todo.title }}</a></li>
                    <li><a href="update_task/{{ todo.id }}">&#9998;</a></li>
                    <li><a href="delete_task/{{ todo.id }}">&#10008;</a></li>
                </ul>
        {% endfor %}
    </div>
{% endblock %}