{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'todo/css/tasks_list.css' %}">
{% endblock %}

{% block script_add %}
{% endblock %}


{% block title %}
  Список задач
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
        <div class="content__tasks">
            <div class="title__list">
                <h2>Список задач</h2>
            </div>
            <div class="tasks__list">
                <div class="create__tasks">
                    <div class="search__field">
                        <input type="text">
                    </div>
                    <div class="create__button">
                        <a href="{% url 'create_task' %}">Создать задачу</a>
                    </div>

                </div>
                <section class="tasks">
                    <div class="unfinished__tasks">
                            <h2>Незавершенные задачи: </h2>
                            {% for task in unfinished_tasks %}
                                <ul class="task unfinished__task">
                                    <li class="title__task"><a href="detail_task/{{ task.id }}">{{ task.title }}</a></li>
                                    <li class="update__task"><a href="update_task/{{ task.id }}">&#9998;</a></li>
                                    <li class="delete__task"><a href="delete_task/{{ task.id }}">&#10008;</a></li>
                                </ul>
                            {% endfor %}
                    </div>
                    <div class="finished__tasks">
                        <h2>Завершенные задачи: </h2>
                        {% for task in finished_tasks %}
                            <ul class="task finished__task">
                                <li class="title__task"><a href="detail_task/{{ task.id }}">{{ task.title }}</a></li>
                                <li class="update__task"><a href="update_task/{{ task.id }}">&#9998;</a></li>
                                <li class="delete__task"><a href="delete_task/{{ task.id }}">&#10008;</a></li>
                            </ul>
                        {% endfor %}
                    </div>

                </section>
            </div>
        </div>
{% endblock %}